.body.dark {
    background-color: #333333; 
}

.header.dark {
    background-color: #141414;
}

.top-div.dark {
    background-color: #141414;
}

.sort-buttons.dark .sort-button {
    background-color: #383838;
}

.middle-buttons.dark .middle-button {
    background-color: #383838;
}

.divider.dark {
    background-color: #333333;
}

.setting-dropdowns.dark {
    background-color: #141414;
}

.setting-dropdowns.dark .drop-down {
    background-color: #383838;
}

.hamburger-menu-icon.dark {
    background-color: #141414;
}

.statistics-display.dark {
    color: white;
}

.bottom-div.dark {
    background-color: #141414;
}

.bottom-div.dark .middle-button {
    background-color: #383838;
}