.handheld-layout .top-div {
    width: 100%;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.handheld-layout .hamburger-menu-icon {
    position: absolute;
    left: 0;
    width: 46px;
    height: 100%;
    border: none;
    cursor: pointer;
}

.handheld-layout .hamburger-menu-icon > div {
    width: 70%;
    height: 3px;
    background-color: white;
    margin-top: 3px;
    margin-left: 25%;
}

.handheld-layout .header .title {
    flex: 80%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.handheld-layout .header {
    position: relative;
    flex: 2;
    width: 100%;
    display: flex;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

.handheld-layout .divider {
    width: 100%;
    height: 2px;
}

.handheld-layout .setting-dropdowns {
    flex: 3;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.handheld-layout .setting-dropdowns > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
}

.handheld-layout .drop-down {
    width: 87px;
    height: 29px;
    border: none;
    border-radius: 7px;

    color: white;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;

    cursor: pointer;

    text-align-last: center;
}

.bottom-div {
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-div .middle-button {
    width: 105px;
    height: 35px;
    border: none;
    border-radius: 7px;
    margin-left: 3px;
    margin-right: 3px;

    color: white;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;

    cursor: pointer;

    text-align-last: center;
}