.body {
    background-color: #ffffff; 
}

.header {
    background-color: #303E9F;
}

.top-div {
    background-color: #303E9F;
}

.sort-buttons .sort-button {
    background-color: #5069E5;
}

.middle-buttons .middle-button {
    background-color: #5069E5;
}

.divider {
    background-color: #5069E5;
}

.setting-dropdowns {
    background-color: #303E9F;
}

.setting-dropdowns .drop-down {
    background-color: #5069E5;
}

.hamburger-menu-icon {
    background-color: #303E9F;
}

.statistics-display {
    color: black;
}

.bottom-div {
    background-color: #303E9F;
}

.bottom-div .middle-button {
    background-color: #5069E5;
}