.medium-desktop-layout .top-div {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.medium-desktop-layout .hamburger-menu-div {
    flex: 10%;
}

.medium-desktop-layout .hamburger-menu-icon {
    left: 0;
    width: 46px;
    height: 100%;
    border: none;
    cursor: pointer;
}

.medium-desktop-layout .hamburger-menu-icon > div {
    width: 70%;
    height: 3px;
    background-color: white;
    margin-top: 3px;
    margin-left: 25%;
}

.medium-desktop-layout .setting-dropdowns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10px;

    color: white;
    font-family: "Open Sans", sans-serif;

    font-size: 14px;
}

.medium-desktop-layout .setting-dropdowns.left {
    flex: 20%;
}

.medium-desktop-layout .setting-dropdowns.right {
    flex: 40%;
}

.medium-desktop-layout .setting-dropdowns > div {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.medium-desktop-layout .drop-down {
    width: 108px;
    height: 36px;
    border: none;
    border-radius: 7px;

    font-size: 14px;
    color: white;
    font-family: "Open Sans", sans-serif;

    cursor: pointer;

    text-align-last: center;
}

.medium-desktop-layout .middle-buttons {
    flex: 30%;
    display: flex;
    justify-content: space-evenly;
}

.medium-desktop-layout .middle-buttons .middle-button {
    width: 108px;
    height: 36px;
    border: none;
    border-radius: 7px;
    margin-left: 3px;
    margin-right: 3px;

    font-size: 14px;
    color: white;
    font-family: "Open Sans", sans-serif;

    cursor: pointer;

    text-align-last: center;
}