#menu-items-tab {
    width: 0%;
    height: 100%;
    background-color: #1C1C1C;
    float: left;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;

    overflow-x: hidden;
}

#menu-items-tab .close-menu-button {
    width: 50px;
    float: right;
    font-size: 36px;
    cursor: pointer;
    border: white;

    color: white;
    background-color: #1C1C1C;
}

.items .item {
    padding: 25px;
    padding-top: 10px;
    width: 150px;
}

.slider-label {
    float: left;
    margin-right: 10px;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.slider {
    width: 40px;
    height: 20px;
    background: gray;
    border-radius: 30px;
    float: left;
    cursor: pointer;
    transition: 0.3s;
}

.slider .inner-circle {
    width: 50%;
    height: 100%;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}

.slider.active {
    background: #00AcEE;
}

.slider.active .inner-circle {
    margin-left: 50%;
}