.small-desktop-layout .top-div {
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-desktop-layout .header {
    position: relative;
    flex: 2;
    width: 100%;
    display: flex;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

.small-desktop-layout .header .title {
    flex: 80%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.small-desktop-layout .hamburger-menu-icon {
    position: absolute;
    left: 0;
    width: 46px;
    height: 100%;
    border: none;
    cursor: pointer;
}

.small-desktop-layout .hamburger-menu-icon > div {
    width: 70%;
    height: 3px;
    background-color: white;
    margin-top: 3px;
    margin-left: 25%;
}

.small-desktop-layout .divider {
    width: 100%;
    height: 2px;
}

.small-desktop-layout .main-buttons {
    display: flex;
    width: 100%;
    flex: 3;
} 

.small-desktop-layout .setting-dropdowns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10px;

    color: white;
    font-family: "Open Sans", sans-serif;

    font-size: 12px;
}

.small-desktop-layout .setting-dropdowns.left {
    flex: 1;
}

.small-desktop-layout .setting-dropdowns.right {
    flex: 1;
}

.small-desktop-layout .setting-dropdowns > div {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.small-desktop-layout .drop-down {
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 7px;

    font-size: 12px;
    color: white;
    font-family: "Open Sans", sans-serif;

    cursor: pointer;

    text-align-last: center;
}

.small-desktop-layout .middle-buttons {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

.small-desktop-layout .middle-buttons > div {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.small-desktop-layout .middle-buttons .middle-button {
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 7px;
    margin-left: 3px;
    margin-right: 3px;

    font-size: 12px;
    color: white;
    font-family: "Open Sans", sans-serif;

    cursor: pointer;

    text-align-last: center;
}