.body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.desktop-layout .hamburger-menu-icon {
    left: 0;
    width: 75px;
    height: 100%;
    border: none;
    cursor: pointer;
}

.desktop-layout .hamburger-menu-icon > div {
    width: 50%;
    height: 3px;
    background-color: white;
    margin-top: 5px;
    margin-left: 25%;
}

.desktop-layout .top-div {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-layout .hamburger-menu-icon {
    flex: 5.5%;
}

.sort-buttons {
    flex: 38.75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort-button {
    width: 25%;
    max-width: 108px;
    height: 36px;
    border: none;
    border-radius: 7px;
    margin-left: 3px;
    margin-right: 3px;

    font-size: 12.5px;
    color: white;
    font-family: "Open Sans", sans-serif;

    cursor: pointer;

    text-align-last: center;
}

.desktop-layout .middle-buttons {
    flex: 16.25%;
    display: flex;
    justify-content: center;
}

.desktop-layout .middle-buttons .middle-button {
    width: 50%;
    height: 36px;
    border: none;
    border-radius: 7px;
    margin-left: 3px;
    margin-right: 3px;

    font-size: 14px;
    color: white;
    font-family: "Open Sans", sans-serif;

    cursor: pointer;

    text-align-last: center;
}


.desktop-layout .setting-dropdowns {
    flex: 39.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;

    color: white;
    font-family: "Open Sans", sans-serif;
}

.desktop-layout .setting-dropdowns .drop-down {
    width: 20%;
    height: 36px;
    border: none;
    border-radius: 7px;
    margin-left: 10px;
    margin-right: 50px;

    font-size: 14px;
    color: white;
    font-family: "Open Sans", sans-serif;

    cursor: pointer;

    text-align-last: center;
}

.statistics-display {
    margin-top: 2%;
    margin-left: 6%;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    float: left;
}

.statistics-display > div {
    float: left; 
    padding-right: 8px;
}

.main-container {
    display: flex; 
    position: absolute; 
    bottom: 0; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 500px;
}

#elements-canvas {
    display: block;
    z-index: -1;

    width: 100%;
    max-width: 1200px;
    height: 100%;
}

#stop-button {
    display: none;
}